@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F7FBFF;
    overflow: hidden;
}

.main {
    width: 100%;
    overflow: hidden;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.hero {
    position: absolute;
    height: 768px;
    width: 768px;
    border-radius: 50%;
    background-color: #DEEAF6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 8px -2px black;
    z-index: 1;
}

.title {
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
    padding: 10px;
    color: #FEC26A;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #394C70;
    font-size: 300%;
}

.body {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    margin-top: -12%;
    width: 100%;
}

.body img {
    width: 100%;
}

.btns {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    max-width: 200px;

}

.btn {
    padding: 5%;
    border: 3px solid #394C70;
    color: #394C70;
    border-radius: 30px;
    outline: none;
    background-color: #DEEAF6;
    font-weight: 800;
    font-family: 'Caesar Dressing', cursive;
    max-width: 200px;
    min-width: 60px;
    width: 100%;
    margin: 4% 0;
    cursor: pointer;
    transition: .3s all ease-in-out;
    text-align: center;
    text-decoration: none;
}

.correct {
    background-color: #DEF6E8;
}

.incorrect {
    background-color: #F6DEDE;
}

.next {
    width: fit-content;
    padding: 3% 20px;
    background-color: #fec36a9d;
}

.choice {
    margin: 2% 0;
    padding: 3% 15px;
    text-align: left;
    font-family: 'Magra', sans-serif;
    min-width: 150px;
    text-align: center;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px -2px black;
}

.opacity img {
    opacity: .4;
}

.dark {
    background-color: #394C70;
    padding-bottom: 30px;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Magra', sans-serif;
    color: whitesmoke;
    margin-left: 10px;
}

.info p {
    font-size: 14px;
    font-weight: 500;
}

.progressBar {
    position: relative;
    flex: 1;
    width: 15rem;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: whitesmoke;
}

.progressBarFull {
    height: 100%;
    background-color: #FEC26A;
    width: 0%;
}

.text {
    font-weight: 800;
    color: whitesmoke;
    font-family: 'Magra', sans-serif;
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
}

.rules {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    max-width: 500px;
    background: #DEEAF6;
    border: 5px solid #394C70;
    border-radius: 28px;
    padding: 5%;
}

.rules h2 {
    font-family: 'Caesar Dressing', cursive;
    font-weight: 400;
    text-align: center;
    color: #394C70;
    margin: 5px;
    width: 100%;
}

.rules p {
    color: #394C70;
    margin: 10px;
    width: 100%;
    font-family: 'Magra', sans-serif;
}

.rules a {
    background-color: #FEC26A
}

.end-box,
.score-table {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    max-width: 500px;
    padding: 5%;
    background: rgba(222, 234, 246, 0.9);
    box-shadow: 5px 5px 22px 13px rgba(0, 0, 0, 0.24);
    border-radius: 30px;
    min-height: 40%;
}

@media(max-width:768px) {
    .body {
        margin-top: -22%;
    }

    .btns {
        width: 25%;
        top: 51%;
    }

    .rules {
        width: 40%;
    }

}

@media(max-width:500px) {

    .btns {
        width: 25%;
        top: 53%;
    }

    .rules {
        width: 70%
    }

    .progress {
        flex-direction: column;
    }

    .progressbar {
        width: 100%;
        order: 2;
        max-width: 250px;
        margin-top: 10px;
    }

}